[RHHelp]
url = https://api.access.redhat.com
debug = WARNING
kern_debug_dir = /var/lib/redhat-support-tool/debugkernels
debug_repos = *debug*
user = {{ redhat_support_tool_user }}
password = {{ redhat_support_tool_password }}
